src/main/mule/implementations/register-covid-cases.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	  <flow name="post:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationid" doc:id="7314d0a0-39cc-4cef-bd9c-43de11c9f7c1" variableName="correlationid"/>
		<logger level="INFO" doc:name="start Log" doc:id="c1668172-80c9-430e-aedc-672e647dd6b7" message="transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Started register covid case flow, payload: #[payload]"/>
		<ee:transform doc:name="prepare covid case payload" doc:id="e1bfbad2-f424-4263-b680-473b0c134dee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0var currentDate = now() as String { format: "yyyy-MM-dd" }

output application/java
---

{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="insert-covid-case-sub-flow" doc:id="c4486668-bd2b-4250-a8cc-67ba20771378" name="insert-covid-case-sub-flow"/>
		<ee:transform doc:name="prepare response" doc:id="2018ae00-0959-4b12-892c-1be6000f9119">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   caseID: payload[0].CASE_ID as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="end Log" doc:id="3b6b769a-61ef-42fb-b0f8-27956e9b9ab5" message="[transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed register covid case flow, payload: #[payload]"/>
		<error-handler ref="global-error-handler" />
    
</flow>
	</mule>
